<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<%= render "public/products/genres_sideber" %>
		</div>

		<div class="col-xs-10">
			<h2>商品一覧<span>(全 <%= Product.all.count %> 件)</span></h2>

			<div id="products-box">
				<% @products.each do |product| %>
					<div class="product-block">
						<%= link_to(public_product_path(product)) do %>

							<div><%= image_tag attachment_url(product, :image, :fill, 140, 100, format: "jpg") %></div>
							<div><%= product.name %></div>
							<div>¥<%= product.tax_price.to_s(:delimited, delimiter: ',') %></div>

						<% end %>
					</div>
				<% end %>
			</div>
			<div class="paginat"><%= paginate @products %></div>
		</div>

		<div class="footer-margen col-xs-12"></div>
	</div>
</div>

<style>
#products-box {
	height: 400px;
	width: 100%;
}

.product-block {
	height: 200px;
	width: 200px;
	padding: 0 auto;
	float: left;
}

.paginat {
	color: red;
}
</style>




