<div class="container">
  <div class="row">
    <h1 class="title">会員一覧</h1>
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <th><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></th>
            <th><%= customer.email %></th>
            <th>
              <% if customer.customer_status == '有効' %>
                <span class="label label-primary"><%= "有効" %></span>
              <% else %>
                <span class="label label-danger"><%= "退会済" %></span>
              <% end %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @customers %>
  </div>
</div>
