<div class="container">
  <div class="row">
    <div class="col-xs-1">
    </div>
  <div class="col-xs-10">
    <div class="title-box">
      <h1 class= "title">Delivery Address/List</h1>
    </div>

  <%= form_for(@delivery, url: public_deliveries_path) do |f| %>

  <% if @delivery.errors.any? %>
        <div id="error_explanation">
          <h3><%= @delivery.errors.count %> error prohibited this obj from being saved:</h3>
          <ul>
            <% @delivery.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

  <table class="table table-hover">
  	<tr>
  	  <td>配送先郵便番号</td>
      <td><%= f.text_field :postal_code %></td>
      <td></td>
      <td></td>
  	</tr>
  	<tr>
      <td>配送先住所</td>
      <td><%= f.text_field :address %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name %></td>
      <td><div class="text-left"><%= f.submit '登録', class: "btn btn-outline-secondary" %></div></td>
      <td></td>
    </tr>
  </table>
<% end %>



<table class="table">
  <thead>
	  <tr>
	    <th>郵便番号</th>
	    <th>住所</th>
	    <th>宛名</th>
	    <th></th>
      <th></th>
	   </tr>
   </thead>
   <tbody>
   	<% current_customer.deliveries.each do |delivery| %>
	  <tr>
	    <td>〒<%= delivery.postal_code %></td>
	    <td><%= delivery.address %></td>
	    <td><%= delivery.name %></td>
	    <td><button type="button" class="btn btn-outline-success"><%= link_to "編集する", edit_public_delivery_path(delivery) %></button></td>
	    <td><%=link_to public_delivery_path(delivery), method: :delete do %>
       <i class="far fa-trash-alt"></i>
      <% end %>
      </td>
	  </tr>
    <% end %>
	</tbody>
</table>
  </div>
    <div class="col-xs-1">
    </div>
  </div>
</div>

