<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
    <h3>ジャンル編集</h3>

    <% if @genre.errors.any? %>
      <div id="error_explanation">
        <h3><%= @genre.errors.count %> error prohibited this obj from being saved:</h3>
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-xs-5">
      <div class="field row">
        <%= form_for @genre, url: admin_genre_path do |f| %>
          <%= f.label :ジャンル %>
          <%= f.text_field :name, class: "col-xs-12" %>
          <%= f.label :name, "有効" %>
          <%= f.radio_button :status, "有効", checked: true %>
          <%= f.label :name, "無効" %>
          <%= f.radio_button :status, "無効" %>
          <%= f.submit '変更を保存する', class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>