<div class="wrapper">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2 head">
      <h1 class="title">Edit Genres</h1>
    </div>

    <div class="col-xs-8 col-xs-offset-2">

      <% if @genre.errors.any? %>
        <div id="error_explanation">
          <h3><%= @genre.errors.count %> error prohibited this obj from being saved:</h3>
          <ul>
            <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-horizontal" role="form">
        <div class="col-xs-5">
          <%= form_for @genre, url: admin_genre_path do |f| %>

            <div class="form-group">
              <%= f.label :ジャンル, class: "col-xs-12" %>
              <div class="col-xs-12">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>

            <%= f.label :name, "有効" %>
            <%= f.radio_button :status, "有効", checked: true %>
            <%= f.label :name, "無効" %>
            <%= f.radio_button :status, "無効" %>
            <%= f.submit '変更を保存', class: "btn btn-pos col-xs-12"%>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>