<div class="container">
  <div class="row header">
    <h2><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>　Sign In</h2>
  </div>
    <div class="col-xs-2">
    </div>
  <div class="col-xs-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>



      <%= f.label :パスワード %>
      <%= f.password_field :password, autocomplete: "current-password" %>


    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-outline-secondary" %>
    </div>
  <% end %>

  <%= render "public/customers/shared/links" %>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>


