  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
      <div class="title-box">
        <h1 class="ttitle">Edit <%= resource_name.to_s.humanize %></h1>
      </div>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "public/customers/shared/error_messages", resource: resource %>
  <table class="table table-hover">
    <tr>
    <td><%= f.label :名前 %> (性)</td>
    <td>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    </td>
    <td>
    (名)
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </td>
    </tr>
    <tr>
    <td>
      <%= f.label :フリガナ %>(セイ)
    </td>
    <td>
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
    </td>
    <td>
    (メイ)
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </td>
    </tr>
    <tr>
    <td>
      <%= f.label :Email %>
    </td>
    <td>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </td>
    <td></td>
    </tr>
    <tr>
    <td>
      <%= f.label :郵便番号 %>(ハイフンなし)
    </td>
    <td>
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
    </td>
    <td></td>
    </tr>
    <tr>
    <td>
      <%= f.label :住所 %>
    </td>
    <td>
      <%= f.text_area :address, autofocus: true, autocomplete: "address" %>
    </td>
    <td></td>
    </tr>
    <tr>
    <td>
      <%= f.label :電話番号 %>(ハイフンなし)
    </td>
    <td>
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
    </td>
    <td><div class="actions">
    <%= f.submit "Update",class: "btn btn-outline-secondary" %>
  </div></td>
    </tr>
    </table>


<% end %>

<%= link_to "退会する", withdraw_public_customers_path(@customer.id), method: :patch %>

<%= link_to "Back", :back %>
  </div>

      <div class="col-xs-1">
      </div>


  </div>
</div>
