<div class="container">
  <div class="row header">
    <h2><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>　Sign Up</h2>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-10">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <fieldset class="form-group">
  <%= render "public/customers/shared/error_messages", resource: resource %>
　<table class="table table-hover">
    <tr>
    <td><%= f.label :名前 %> (性)</td>
    <td>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    </td>
    <td>
    (名)
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </td>
    </tr>
    <tr>
    <td>
      <%= f.label :フリガナ %>(セイ)
    </td>
    <td>
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
    </td>
    <td>
    (メイ)
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </td>
    </tr>
    <tr>
    <td>
      <%= f.label :Email %>
    </td>
    <td>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </td>
    <td></td>
    </tr>
    <tr>
    <td>
      <%= f.label :郵便番号 %>(ハイフンなし)
    </td>
    <td>
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
    </td>
    <td></td>
    </tr>
    <tr>
    <td>
      <%= f.label :住所 %>
    </td>
    <td>
      <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
    </td>
    <td></td>
    </tr>
    <tr>
    <td>
      <%= f.label :電話番号 %>(ハイフンなし)
    </td>
    <td>
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
    </td>
    <td></td>
    </tr>
    <tr>
    <td>
      <%= f.label :パスワード %>(6文字以上)

    </td>
    <td>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </td>
    <td></td>
    </tr>
    <tr>
      <td>
        <%= f.label :パスワード %>(確認用)
      </td>
      <td>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </td>
      <td></td>
    </tr>

</table>

  <div class="actions">
    <%= f.submit "登録",class: "btn btn-outline-secondary" %>
  </div>
  </fieldset class="form-group">
<% end %>

<button type="button" class="btn btn-outline-secondary"><%= render "public/customers/shared/links" %></button>
  </div>
  <div class="col-xs-1"></div>
</div>



