<div class="row">

  <div class="col-xs-8 col-xs-offset-2 top">
    <h1>商品編集</h1>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <div class="form-horizontal" role="form">

      <%= form_for @product, url: admin_product_path do |f| %>

        <% if @product.errors.any? %>
          <div id="error_explanation">
            <h3><%= @product.errors.count %> error prohibited this obj from being saved:</h3>
            <ul>
              <% @product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="col-xs-6">
          <div class="form-group">
            <%= attachment_image_tag @product, :image, :fill, 300, 300, fallback: "no-image.jpg", size: "300x300" %>
          </div>
          <div class="select-image">
            <%= f.attachment_field :image %>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :商品名, class: "col-xs-4" %>
            <div class="col-xs-8">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :商品説明, class: "col-xs-4" %>
            <div class="col-xs-8">
              <%= f.text_area :detail, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :ジャンル, class: "col-xs-4" %>
            <div class="col-xs-8">
              <%= f.collection_select :genre_id, Genre.all, :id, :name, {}, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :税抜価格, class: "col-xs-4" %>
            <div class="col-xs-8">
              <%= f.text_field :before_price, class: "col-xs-12 form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :販売ステータス, class: "col-xs-4" %>
            <div class="col-xs-8">
              <%= f.select :sale_status, [["販売中", true], ["売切れ", false]], {}, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.submit '変更を保存', class: "btn btn-lg btn-pos col-xs-12"%>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>