<div class="row">
  <div class="col-xs-8 col-xs-offset-2 top">
    <h1>Product List</span></h1>

    <div>
      <%= link_to new_admin_product_path, class: "btn btn-lg pull-right link" do %>
       <i class="glyphicon glyphicon-plus-sign" style="font-size:30px; color:darkgray;"></i>
      <% end %>
    </div>

      <table class="table table-hover">
        <thead class="thead-color">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, admin_product_path(product.id), class: "link" %></td>
            <!-- .to_s(:delimited, delimiter: ',')で金額を三桁区切りで表示 -->
            <td><%= product.before_price.to_s(:delimited, delimiter: ',') %></td>
            <td><%= product.genre.name %></td>
            <td>
              <% if product.sale_status == true %>
                販売中
              <% else %>
                販売停止中
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @products %>
  </div>
</div>