<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h3>注文履歴詳細</h3>
  </div>
  <div class="col-xs-4 col-xs-offset-1">

    <h5>注文情報</h5>
    <table class="table">
      <tbody>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            <%= @order.receive_postal_code %><br>
            <%= @order.receive_address %><br>
            <%= @order.receive_name %>
          </td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td><%= @order.how_pay %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td><%= @order.order_status %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-3">
    <h5>請求情報</h5>
    <table class="table">
      <tbody>
        <tr>
          <td>商品合計</td>
          <td><%= @order.total_price.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
        <tr>
          <td>配送料</td>
          <td><%= @order.postage %>円</td>
        </tr>
        <tr>
          <td>ご請求額</td>
          <td><%= (@order.total_price + @order.postage).to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <h5>注文内容</h5>
    <table class="table">
      <thead>
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.product.name %></td>
            <td><%= order_item.after_price.to_s(:delimited, delimiter: ',') %>円</td>
            <td><%= order_item.qty %></td>
            <!-- 小計を出すためにsubtotalメソッドをorder_itemモデルに定義して呼び出し -->
            <td><%= order_item.subtotal.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
